# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# OS
.DS_Store

# Cache
.ipynb_checkpoints/

# Python build
build/
dist/
*.egg-info/

# Logs
*.log

# Geocode cache (se quiser evitar crescer o repo)
diagnosticos/cache_geocode_cep.csv
